<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'board.css' %}">
    
</head>
<body>

    <div class="d-flex justify-content-between align-items-center my-2">
        <form action="/logout" method="post">
          {% csrf_token %}
            <input type="submit" value="Log Out" class="btn btn-sm btn-danger">
        </form>
        </div>
    <div class="container">
        <div class="header">
            <h1>Welcome, {{user.first_name}} {{user.last_name}}!</h1>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/newbooking/{{user.id}}';">New Booking</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/comp/{{ user.id }}';">Add your complaint</button>


        </div>
        <h3>Your visits history</h3>
        <p>* The dates for last 30 days only!</p>
        <table class="table table-striped table-bordered mt-3">
            <thead>
                <tr>
                    <th>Mobile Number</th>
                    <th>Visit Reason</th>
                    <th>Visit Date</th>
                    <th>Visit Time</th>
                    <th>Showroom Name</th>
                    <th>Showroom City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

               
                <tr>

                    {% for book in books %} 
                      {% if book.user_id == user.id %}

                    <td>{{ book.mobile }}</td>
                    <td>{{ book.reason }}</td>
                    <td>{{ book.start_date }}</td>
                    <td>{{ book.time }}</td>
                    <td>{{ book.showroom_name }}</td>
                    <td>{{ book.city }}</td>
                    <td><button type="button" class="btn btn-secondary" id = "shahd" onclick="window.location.href='/edit/{{book.id}}';">Edit Booking</button></td>
                    
                </tr>
                       {% endif %}  
                    {% endfor %} 
               
            </tbody>
        </table>

       
    </div>

   
</body>
</html>
