body {
    background-image: linear-gradient(80deg, #6abf4b 8%, #04bad5 92%);
   
}
.card {
    background-color: #f5f5f7;
    border-radius: 20px;
    margin-bottom: 50px;
}
img {
    height: 10%;
    width: 10%;
}
.text-center {
    color: #f5f5f7;
}
.font-weight-bold{
    color: #f5f5f7;
}
.lead{
    color: #f5f5f7;
}
.btn{
    background-image: linear-gradient(90deg,#c0ecae, #a5e9f7);
    border-color: #f5f5f7;
    color: rgb(58, 58, 59);
    border-radius: 10px;
}
.card-title{
    color: rgb(98, 98, 100);
}
